<header class="w-100 bg-black bg-gradient border-bottom border-3 p-2">    
    <div class="container w-75">
        <div class="row py-2 mx-0 align-items-center">
            <div class="col-6">
                <a href="/" class="nav-link">
                    <span class="text-white fs-3 fw-light">ROUTE OPTIMIZER SERVICE</span>
                </a>
            </div>
            <div class="col-6">
                <div class="w-100 d-flex justify-content-end" id="auth-section"></div>
            </div>
        </div>
    </div>
</header>